body
{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: rgb(254, 254, 240);
}
nav
{
    /* border: 2px solid black; */
    padding: 15px;
    box-shadow: 3px 4px 11px 0px rgba(0, 0, 0, 0.72);
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 99;
}
nav > label
{
    font-size: 40px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.7);
    margin-left: 9%;
    margin-right: 10%;
}
nav > a
{
    padding: 8px 19px;
    text-decoration: none;
    font-size: 10pt;
    color: rgba(0, 0, 0, 0.8);
    font-weight: bold;
    /* border: 1px solid black; */
    display: inline-block;
    vertical-align: top;
    width: fit-content;
    margin-top: 12px;
}
nav > a:hover
{
    color: rgba(0, 0, 0, 0.6);
    scale: 1.2;
    cursor: url('../Media/paw-solid.svg'), auto;
}
#contact
{
    margin-left: 6%;
    border: 1.5px solid rgba(0, 0, 0, 0.6);
    border-radius: 25px;
    background-color: rgb(248, 179, 130);
    color: rgba(0, 0, 0, 0.6);
}
#contact:hover
{
    background-color: rgb(174, 96, 47);
    color: white;
}

/* Cover Section */
#cover-sec
{
    width: 100%;
    height: 650px;
    position: relative;
}
#cover-sec > img.cover-pic
{
    width: 100%;
    height: 650px;
    /* opacity: 0.8; */
}
#cover-sec > .cover-title
{
    position: absolute;
    color: rgb(255, 255, 255);
    top: 20%;
    left: 5%;
    font-size: 50px;
    font-weight: bold;
    line-height: 1.7;
}
#cover-sec > .cover-link
{
    position: absolute;
    bottom: 20%;
    left: 5%;
}
#cover-sec > .cover-link > a
{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
    font-weight: bold;
    padding: 8px 30px;
    margin-right: 20px;
    border: 1.5px solid rgba(255, 255, 255, 0.9);
    border-radius: 5px;
}
#cover-sec > .cover-link > a:hover
{
    background-color: rgb(255, 165, 62);
}
#cover-sec > img.border-pic
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
}

/* About Us */
#about-us > h2
{
    color: brown;
    font-size: 20px;
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 3px;
    word-spacing: 8px;
    text-align: center;
    margin-bottom: 8px;
}
#about-us > h2::before
{
    content: "";
    display: block;
    background: brown;
    width: 2px;
    height: 80px;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 30px;
}
#about-us > h1
{
    color: rgba(0, 0, 0, 0.7);
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 7px;
    text-align: center;
    margin-top: 0;
}

/* book table */
#book-table
{
    width: 100%;
    height: 580px;
    background-image: url('/Media/coffee-bean-small.jpg');
    background-size: 100% 580px;
    position: relative;
    display: flex;
}
#book-table::before
{
    content: "";
    display: block;
    position: absolute;
    top: -2px;
    width: 100%;
    height: 20px;
    background-image: url('../Media/top-overlay.png');
    background-repeat: repeat-x;
    background-size: 40% 100%;
}
#book-table::after
{
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    width: 100%;
    height: 20px;
    background-image: url('../Media/bottom-overlay.png');
    background-repeat: repeat-x;
    background-size: 40% 100%;
}
#book-table > div.book-table1
{
    width: 50%;
    background-color:rgba(39, 19, 6, 0.6);
    color: white;
    padding: 30px;
}
#book-table > div.book-table1 > h1
{
    color: rgb(229, 150, 90);
    font-weight: bold;
    font-size: 45pt;
    margin-bottom: 10px;
}
#book-table > div.book-table1 > h2
{
    margin-top: 0px;
    font-size: 28pt;
}
#book-table > div.book-table1 > p
{
    font-size: 13pt;
}
#book-table > div.book-table1 > li
{
    list-style: none;
    font-size: 13pt;
}
#book-table > div.book-table1 > li > label
{
    margin-right: 20px;
    font-size: 14pt;
    color: rgb(229, 150, 90);
}
#book-table > div.book-table2
{
    width: 47%;
    background-color:rgba(35, 18, 6, 0.927);
    color: white;
    padding: 30px 50px;
}
#book-table > div.book-table2 > h2
{
    text-align: center;
    font-size: 33pt;
    margin-bottom: 10px;
}
#book-table > div.book-table2 > div > input,button
{
    margin-top: 0px;
    display: block;
    width: 490px;
    height: 39px;
    background-color: transparent;
    border-color: rgb(229, 150, 90);
    color: grey;
    font-size: 12pt;
    padding: 0px 10px;
    outline-style: none;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
}
#book-table > div.book-table2 > div > button
{
    background-color: rgb(229, 150, 90);
    color: black;
    cursor: pointer;
    width: 515px;
}
#book-table > div.book-table2 > div > button:hover
{
    background-color: rgb(229, 150, 90, 0.8);
}